@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@500;800&display=swap');
*{margin:0;
padding:0;}
body{
  font-family: 'Figtree', sans-serif;
  background-color: hsl(47, 88%, 63%);
  align-content: center;
  display: flex;
}

.container{display:flex;
  align-content: center;
  width:100%;
  padding:20px;
  background-color: hsl(47, 88%, 63%);
  margin: 0 auto;
  min-height:100vh;
  max-width: 360px;
}
.image{border-radius :10px;}
.preview-card{  border-radius:10px;
  box-shadow: 10px 10px 3px rgba(0,0,0,6);
  align-items:center;
  width:100%; 
   background-color:hsl(0, 0%, 100%);
   padding: 1rem;
   margin:8rem 0;
   border: 1px solid hsl(0, 0%, 7%);
  

}
.date{
  
  font-size:14px;
  margin:1rem 0;
}
.flex-item{
  
  background-color:hsl(47, 88%, 63%);
  font-size:14px;
  font-weight:800;
  padding:5px 10px;
  border-radius:20px;
  display:inline-block;
  margin:1rem 0;
}
h3{
  color:hsl(0, 0%, 7%);
  font-size: 16px;
}
section .description{
  margin:1rem 0;
  color:hsl(0, 0%, 42%);
}
p{
  color:hsl(0, 0%, 7%);
  font-size: 16px;

}
.author{
  display:flex;
  align-items:center;
   margin-bottom: 1rem;
}